* {
    margin:0; padding:0;
  }
  .logo {
    position:absolute;
    top:12px; 
    left:12px;
  }
  header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-color: #e6e6e6;
    display: block; /* ブロック要素にする */
    margin: 0 auto; /* 要素中央揃え */
    position: relative; /* 位置指定 */
    animation: headerani 1s ease; /* アニメーション指定 */
  }
  .this {
      color: #ff4500
  }
  .outline {
    display        : inline-block;
    color          : #000000;            /* 文字の色 */
    font-size      : 36pt;               /* 文字のサイズ */
    letter-spacing : 4px;                /* 文字間 */
    text-shadow    : 
         2px  2px 5px #ffffff,
        -2px  2px 5px #ffffff,
         2px -2px 5px #ffffff,
        -2px -2px 5px #ffffff,
         2px  0px 5px #ffffff,
         0px  2px 5px #ffffff,
        -2px  0px 5px #ffffff,
         0px -2px 5px #ffffff;        /* 文字の影 */
  }
  header .headline{
    font-size: 32px;
    font-family: 'ＭＳ Ｐ明朝','ＭＳ 明朝';
  }
  .nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    overflow: hidden;
  }
  .nav-list-item text {
    transition: all 0.5s;
  }
  .image2 text:hover {
    opacity: 1.0;
    transform: scale(1.05, 1.05);
  }
  .title {
    text-align: center;
    font-family: "游明朝";
    font-size: 45px;
    display: block;
    position: relative;
    animation: titleani 2.2s ease;
    top: 0px;
    line-height: 1.6;
    background: -webkit-linear-gradient(30deg,#f6066e,#00b2fe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title-line {
    border: 0.6px solid;
  }
  footer {
    width: 100%;
    height: 45px; 
    text-align: center;
    padding: 50px 0;
    background-color: #f1ff75e3;
    display: block;
    animation: footerani 1s ease;
    position: fixed;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    padding: 30px 0;
  }
  .footer-text {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
  }
  #sample1 input[type="radio"]{
    display    : none;
  }
   
   /* === 各ラジオボタンのラベルをボタンに変更 == */
  #sample1 label{
    position       : relative; 
    top            : -70px;
    right          : -860px;
    display    : inline-block;
    border     : 1px solid #ccc;
    box-shadow : 2px 2px #999;
    padding    : 2px 6px;
  }
   
   /* === 選択されている言語のラベル色を変更 ==== */
  #sample1 input[type="radio"]:checked + label {
    background : #ffa64d;
  }
  .topIcon {
    display       : inline-block;
    position      : fixed;       /* ボタン固定 */
    bottom        : 20px;        /* 下から位置 */
    right         : 20px;        /* 右から位置 */
    padding       : 11px 12px;   /* 余白       */
    background    : rgba(255, 77, 77, 0.87);     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    opacity       : 0.5;         /* 透明度     */
    border-radius : 19%;        /* 角丸       */
    font-size     : 16.5pt;        /* 文字サイズ */
    font-weight   : bold;        /* 太字       */
    line-height   : 1.2em;       /* 行の高さ   */
    letter-spacing: 2px;         /* 文字間隔   */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    z-index       : 999;         /* 重ね順位   */
  }
  
  .topIcon:hover {
    opacity       : 0.9;
  }
  #loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: rgb(245, 93, 215);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .spinner {
    width: 1500px;
    height: 1000px;
      margin: -20px auto;
    background-color: #fff;
    border-radius: 20%;
    animation: sk-scaleout 0.7s infinite ease-in-out;
  }
  .loaded {
    opacity: 0;
    visibility: hidden;
  }
  .gallery {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .highlight{
    font-weight:bold;
    background-color:Yellow;
    }
  .search {
    position       : absolute; 
    top            : 85px;
    right          : 30px;
  }

@keyframes headerani {
    0% {
        opacity: 0;
        top: 50px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
@keyframes footerani {
  0% {
      opacity: 0;
      bottom: 50px;
  }
  100% {
      opacity: 1;
      bottom: 0;
  }
}
@keyframes titleani {
  0% {
      opacity: 0;
      top: 50px;
  }
  100% {
      opacity: 1;
      bottom: 0;
  }
}
@keyframes sk-scaleout {
    0% {
      transform: scale(0);
    } 100% {
      transform: scale(1.0);
      opacity: 0;
    }
} 